.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    &-main {
        padding: 20px 0;
        color: #fff;
        background-color: #2f424f;
    }

    &-logo,
    &-info {
        padding-top: 24px;
        margin-bottom: 10px;
    }

    &-logo-desc {
        display: inline-block;
        font-size: 12px;
        line-height: (17/12);
        max-width: 130px;
    }

    .phone-number {
        font-size: 18px;
    }

    .social,
    .phone {
        margin-bottom: 10px;
    }
}

.pre-footer {
    padding: 20px 0;
    background-color: lighten($footerBgColor, 10%);
}

.copyright {
    padding: 20px 0;
    background-color: $footerBgColor;
    text-align: center;
    font-size: 12px;
    color: $footerFontColor;

    a {
        color: $footerFontColor;
        text-decoration: underline;

        &:hover {
            color: $footerLinkColorActive;
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        &-main {
            padding: 10px 0;
        }

        &-logo,
        &-info {
            padding-top: 0;
            text-align: center;
        }
    }

    .SinoptikInformer {
        margin-left: auto;
        margin-right: auto;
    }
}