.pre-header {
    padding: 5px 0;
    background-color: $preHeaderBgColor;
    color: $preHeaderColor;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 12px 0;
    background-color: $headerBgColor;
    color: $headerFontColor;
    //border-bottom: 1px solid #fff;
    @include transition(background-color .2s ease-in-out);

    &.is-fixed {
        position: fixed;
    }

    .home & {
        color: $headerFontColor;
        background-color: transparent;
        //border-bottom-color: transparent;

        &.is-darken {
            background-color: rgba(#000, .4);
        }
    }

    &-row {
        & + & {
            margin-top: 10px;
        }
    }
}

.logo {
    white-space: nowrap;

    &,
    &-link,
    &-desc,
    &-img {
        display: inline-block;
        vertical-align: middle;
    }

    &-img {
        max-width: 70px;
        max-height: 65px;
    }

    &-desc {
        font-size: 14px;
        line-height: (19/14);
        max-width: 155px;
        margin-left: 10px;
        white-space: normal;
    }
}

.phone {
    @extend %reset-list;
    font-size: 0;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-number {
        display: inline-block;
        text-decoration: none;
        color: inherit;
        font-size: 15px;
        line-height: 1.3;

        &:hover {
            color: inherit;
            text-decoration: underline;
        }
    }
}

.social {
    @extend %reset-list;
    font-size: 0;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 2px;
    }

    &-link {
        display: block;
        width: 35px;
        color: inherit;
        font-size: 20px;
        line-height: 1;
        text-align: center;
        text-decoration: none;

        &:hover {
            color: inherit;
            @include opacity(.8);
        }
    }
}

.messenger {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-link {
        display: block;
        text-align: center;
        text-decoration: none;

        &:hover {
        }
    }
}

.lang {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;

        a {
            display: block;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        &-logo,
        &-nav {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 544px) {
    .header {
        padding: 10px 0 0;
        position: static !important;
        background-color: #232323!important;

        &-logo {
            display: none;
        }

        &-phone,
        &-social {
            text-align: center;
        }

        &-social {
            margin-top: 10px;
        }
    }
}